.slideBox{
  width: 50%; 
  margin: 8px auto;
}

.slideBox img{
  width: 50%; /* Define a largura da div */
  margin: 0 auto;
}

.slick-dots li.slick-active button:before {
  color: #ffffff; /* Cor do botão ativo */
}

.slick-dots li button:before {
  color: rgba(190, 182, 182, 0.932); /* Cor dos pontos */
}
